<odoo>
    <data>
        <!-- Acciones -->
        <record id="action_pacientes" model="ir.actions.act_window">
            <field name="name">Pacientes</field>
            <field name="res_model">hospital.paciente</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_medicos" model="ir.actions.act_window">
            <field name="name">Médicos</field>
            <field name="res_model">hospital.medico</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_citas" model="ir.actions.act_window">
            <field name="name">Citas</field>
            <field name="res_model">hospital.citas</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Menú -->
        <menuitem id="hospital_menu" name="Hospital"/>
        <menuitem id="menu_hospital_pacientes" name="Pacientes" parent="hospital_menu" action="action_pacientes"/>
        <menuitem id="menu_hospital_medicos" name="Médicos" parent="hospital_menu" action="action_medicos"/>
        <menuitem id="menu_hospital_citas" name="Citas" parent="hospital_menu" action="action_citas"/>
    </data>
</odoo>